{% if custom_rendered_html %}
    {{ custom_rendered_html }}
{% else %}
    {% extends "templates/web.html" %}
    {% block page_content %}
        <div>
            <img src="{{ doc.front_mockup }}" alt="Mockup image" />
        </div>

        <div>
            <h1 class="h3">{{ doc.get_title() }}</h1>

            {% set formatted_price = frappe.format_value(doc.retail_price, "Currency", currency="INR") %}
            <h2 class="h5 text-muted text-uppercase">{{ formatted_price }}</h2>
        </div>

        {% if has_sizes %}
        <div>
            <h3 class="fw-bold">Available Sizes</h3>
            <div class="d-flex">
                {% for variant in doc.variants %}
                    <span class="indicator-pill gray filterable no-indicator-dot ellipsis mr-2">{{ variant.size }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if has_colors %}
        <div>
            <h3 class="fw-bold">Available Colors</h3>
            <div class="d-flex">
                {% for variant in doc.variants|unique(attribute="color") %}
                    <span class="indicator-pill gray filterable no-indicator-dot ellipsis mr-2">{{ variant.color }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if render_variants %}
        <div>
            <h3 class="fw-bold">Available Variants</h3>
            <div class="d-flex">
                {% for variant in doc.variants|unique(attribute="variant_name") %}
                    <span class="indicator-pill gray filterable no-indicator-dot ellipsis mr-2">{{ variant.variant_name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="my-6">
            <h3 class="fw-bold">Product Description</h3>
            <div>
                {{ doc.description }}
            </div>
        </div>

        <a class="btn btn-primary" href="/store/checkout?product={{doc.name}}">Buy Now</a>
    {% endblock %}
{% endif %}
