{% extends "templates/web.html" %}

{% set category = frappe.form_dict.get("category") %}

{% set parents = [{"label": "All Products", "route": "/store"}] %}

{% if category %}
  {% set filters = {"is_published": 1, "printrove_category": category} %}
{% else %}
  {% set filters = {"is_published": 1} %}
{% endif %}


{% set products = frappe.db.get_all("Store Product",
    filters=filters,
    fields=["name", "front_mockup", "retail_price", "route"]
) %}

{% block page_content %}
    <h2 class="mb-6">{{ "All Products" if not category else category }}</h2>
    <div>
        {% for product in products %}
        <div class="card mb-6">
            <img src="{{ product.front_mockup }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>

              {% set formatted_price = frappe.format_value(product.retail_price, "Currency", currency="INR") %}
              <p class="card-text">{{ formatted_price }}</p>
              <a href="/{{ product.route }}" class="btn btn-primary">View</a>
            </div>
          </div>
        {% endfor %}
    </div>

    {% if frappe.session.user != "Guest" %}
    <div>
      <a href="/store/orders">My Orders</a>
    </div>
    {% endif %}
{% endblock %}
