{% extends "templates/web.html" %}

{% block script %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    const place_order_button = document.getElementById("place-order-button");
    const checkout_form = document.getElementById("checkout-form");

    checkout_form.addEventListener("submit", (e) => {
        // Create a "Store Order" in the backend
        e.preventDefault();

        const formData = new FormData(e.target);

        // disable checkout button
        place_order_button.setAttribute("disabled", true);

        frappe.call({
            "method": "printrov_merch_store.api.handle_checkout_submit",
            "args": {
                "product_name": "{{ frappe.form_dict.get('product') }}",
                "order_details": Object.fromEntries(formData)
            }
        }).then(({ message }) => {
            const { key_id, order_id } = message;
            let options = {
                key: key_id,
                order_id,
                handler: (response) => {
                    const payment_id = response.razorpay_payment_id;
                    const signature = response.razorpay_signature;

                    frappe.call({
                        "method": "printrov_merch_store.api.handle_payment_success",
                        "args": {
                            order_id,
                            payment_id,
                            signature
                        }
                    }).then(({ message: store_order_id }) => {
                        // redirect to success page
                        window.location.href = `{{ success_page_route }}?order_id=${store_order_id}`
                    }).catch(() => {
                        // re-enable checkout button
                        place_order_button.removeAttribute("disabled");
                        alert("Error placing your order!")
                    })


                },
                prefill: {
                    "name": formData.get("customer_name"),
                    "email": frappe.session.user,
                    "contact": formData.get("phone_number")
                },
            };

            let rzp = new Razorpay(options);

            rzp.on('payment.failed', function (response) {
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            });

            rzp.open();
            place_order_button.removeAttribute("disabled");
        }).catch((e) => {
            console.error(e);
            place_order_button.removeAttribute("disabled");
        })
        // Use the details to trigger payment here
        // Process payment events and notify backend
    })

</script>
{% endblock %}

{% block page_content %}

{% set product_name = frappe.form_dict.get("product") %}
<h2>Buy {{ product_name }}</h2>

{% set product = frappe.get_cached_doc("Store Product", product_name) %}
<form class="mt-5" id="checkout-form">
    <div class="row">
        <div class="col-lg-6">
            {% if product.has_sizes %}
            <div class="form-group">
                <label for="variant">Size</label>
                <select required name="variant_id" class="form-control" id="variant">
                    {% for variant in product.variants %}
                    <option value="{{ variant.variant_id }}">{{ variant.size }}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <div class="form-group">
                <label for="variant">Variant</label>
                <select required name="variant_id" class="form-control" id="variant">
                    {% for variant in product.variants %}
                    <option value="{{ variant.variant_id }}">{{ variant.variant_name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="customer_name">Full Name</label>
                <input required name="customer_name" type="text" class="form-control" id="customer_name">
            </div>

            <div class="form-group">
                <label for="phone_number">Phone Number</label>
                <input required id="phone_number" name="phone_number" type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="address-section">
                <div class="form-group">
                    <label for="address_line_1">Address Line 1</label>
                    <input required id="address_line_1" name="address_line_1" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="address_line_2">Address Line 2</label>
                    <input required id="address_line_2" name="address_line_2" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="address_line_3">Address Line 3</label>
                    <input id="address_line_3" name="address_line_3" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="state">State</label>
                    <input required id="state" name="state" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="city">City</label>
                    <input required id="city" name="city" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label for="pincode">Pin code</label>
                    <input required id="pincode" name="pincode" type="text" class="form-control">
                </div>


                <div class="form-group">
                    <label for="country">Country</label>
                    <input value="India" readonly id="country" name="country" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <button id="place-order-button" type="submit" class="btn btn-primary">Place Order & Pay</button>
</form>
{% endblock %}
